{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Domovská stránka</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$baseUrl}/css/style.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/netteGMap.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBKUjGkyKJuKP3GJWzC3Wcwv-H4tr9MY1M" type="text/javascript"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery.netteGMap.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link rel="stylesheet" media="screen,projection,tv"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{$basePath}/js/locales/bootstrap-datetimepicker.cs.js"></script>
    <script type="text/javascript" src="{$basePath}/js/nextras.datetimepicker.init.js"></script>
    {block head}{/block}
</head>

<body>
    <nav>
        <div id="languagesAndMainMenu">
            <ul id="languages">
                <li>CZ</li>
                <li>EN</li>
                <li>DE</li>
            </ul>
            <ul id="mainMenu">
                {block tourneyItem}<li><a href="{$baseUrl}/tourney">Turnaje</a></li>{/block}
                {block playgroundItem}<li><a href="{$baseUrl}/playground">Hřiště</a></li>{/block}
                {block categoryItem}<li><a href="{$baseUrl}/category">Kategorie</a></li>{/block}
                {block teamItem}<li><a href="{$baseUrl}/team">Týmy</a></li>{/block}
                {block playerItem}<li><a href="{$baseUrl}/player">Hráči</a></li>{/block}
            </ul>
        </div>
        <ul id="tinyNavigation">
            {block tinyNavigation}
                <li>Domovská stránka</li>
            {/block}
        </ul>
    </nav>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$baseUrl}/js/main.js"></script>
	{/block}
</body>
</html>
