{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li>Hráči</li>
{/block}
{block playerItem}<li class="mainMenuLeaf">Hráči</li>{/block}
{block content}
	<h1 n:block=title>Hráči</h1>
    <h2>Vložení nového hráče</h2>
    <p>Pro úspěšné vložení nového hráče je nutné vyplnit jeho jméno a příjmení, datum narození a vybrat jeho pohlaví.
        Můžete vyplnit i číslo hráče, ale to není pro úspěšné vložení nového hráče nutné.
        Údaje o hráči, kterého chcete přidat, vyplňte ve formuláři níže.</p>
    {form addForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li class="mandatoryLabel">{label name /}</li>
                    <li>{input name}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label surname /}</li>
                    <li>{input surname}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label sex /}</li>
                    <li>{input sex}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label birthdate /}</li>
                    <li>{input birthdate}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nonMandatoryItem">{label number /}</li>
                    <li>{input number}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <input n:name=addPlayer  type="submit" class="addButton" value="Přidat hráče">
                    </li>
                </ul>
            </li>
        </ul>
    {/form}
    <h2>Seznam hráčů</h2>
    <p>Níže je vypsán seznam hráčů včetně informací o nich. U jména a příjmení hráče a dalších informací se nachází
    tlačítko pro smazání hráče a formulář pro jeho editaci. Ve formuláři pro editaci musí být vyplněno jméno, příjmení,
    pohlaví a datum narození hráče.</p>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <div class="filterForm">
            <ul class="withoutCheckbox">
                <li>{label name}</li>
                <li>{input name}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label surname}</li>
                <li>{input surname}</li>
            </ul>
            <ul  class="withoutCheckbox">
                <li>{label birthdateFrom}</li>
                <li>{input birthdateFrom}</li>
            </ul>
            <ul  class="withoutCheckbox">
                <li>{label birthdateTo}</li>
                <li>{input birthdateTo}</li>
            </ul>
            <ul>
                <li>{label sex:male}</li>
                <li>{input sex:male}</li>
            </ul>
            <ul>
                <li>{label sex:female}</li>
                <li>{input sex:female}</li>
            </ul>
            <ul>
                <li>{label sex:unknown}</li>
                <li>{input sex:unknown}</li>
            </ul>
            <ul  class="withoutCheckbox">
                <li>{label number}</li>
                <li>{input number}</li>
            </ul>
            <ul>
                <li></li>
                <li>{input filterPlayers}</li>
            </ul>
        </div>
    {/form}
    <dl class="playerListings">
    {foreach $players as $player}
        <dt><strong>{$player[$name]} {$player[$surname]}</strong></dt>
        <dd>
            <ul>
                <li><a n:href="Player:edit $player[$id]"><button class="updateButton">Upravit</button></a></li>
                <li><a n:href="Player:delete $player[$id]"><button class="deleteButton">Odstranit</button></a></li>
            </ul>
        </dd>
    {/foreach}
    </dl>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="default, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}