{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/player">Hráči</a></li>
    <li>Editace hráče</li>
{/block}
{block playerItem}<li class="mainMenuLeaf">Hráči</li>{/block}
{block content}
	<h1 n:block=title>Editace hráče</h1>
    {form editForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li>{label name /}</li>
                    <li>{input name}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label surname /}</li>
                    <li>{input surname}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label sex /}</li>
                    <li>{input sex}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label birthdate /}</li>
                    <li>{input birthdate}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label number /}</li>
                    <li>{input number}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input id}</li>
                    <li>
                        <input n:name=editPlayer  type="submit" class="btn" value="Editovat hráče">
                    </li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}