{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li><a n:href="Tourney:matchschedule $tourneyID">Rozpis zápasů pro {$tourney[$title]}</a></li>
    <li><a n:href="Match:gameevents $tourneyID, $matchID">Správa herních událostí zápasu {$matchID}</a></li>
    <li>Editace faulu</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Editace faulu</h1>
    {form editCardForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>

        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li>{label minute /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input minute}</li>
                            <li>:</li>
                            <li>{input second}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label player /}</li>
                    <li>{input player}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label typeOfCard /}</li>
                    <li>{input typeOfCard}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input match}{input card}</li>
                    <li><input n:name=editCard  type="submit" class="btn" value="Upravit faul"></li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}