{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li><a n:href="Tourney:matchschedule $tourneyID">Rozpis zápasů pro {$tourney[$title]}</a></li>
    <li>Správa herních událostí zápasu {$matchID}</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Správa herních událostí zápasu {$matchID}</h1>
    <table class="results">
        <tr>
            <td>{$firstTeam}</td>
            <td>{$secondTeam}</td>
        </tr>
        <tr>
            <td>{$firstTeamGoals}</td>
            <td>{$secondTeamGoals}</td>
        </tr>
    </table>
    <h2>Vložení herní události</h2>
    Na této stránce lze vložit novou herní událost jako je gól či faul. Níže jsou umístěny formuláře pro vložení gólu a faulu.
    <div class="secondCapitol">
    <h3>Vložení gólu</h3>
        <p>Níže je umístěn formulář pro vložení nového gólu. Pro úspěšné vložení nového gólu je potřeba vyplnit hráče, který dal daný gól, a čas, kdy padl. Povinné údaje jsou označeny hvězdičkou.</p>
    {form addGoalForm}
        <!-- Jednoduché vykreslení chyb -->
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addForm">
            <li>
                <ul>
                    <li class="mandatoryLabel">{label minute /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input minute}</li>
                            <li>:</li>
                            <li>{input second}</li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="mandatoryLabel">{label player /}</li>
                    <li>{input player}</li>
                </ul>
                <ul>
                    <li>{input match}</li>
                    <li><input n:name=addGoal  type="submit" class="addButton" value="Přidat gól"></li>
                </ul>
            </li>
        </ul>
    {/form}
    </div>
    <div class="secondCapitol">
    <h3>Vložení faulu</h3>
    {form addCardForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>


        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li class="mandatoryLabel">{label minute /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input minute}</li>
                            <li>:</li>
                            <li>{input second}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label player /}</li>
                    <li>{input player}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label team /}</li>
                    <li>{input team}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label typeOfCard /}</li>
                    <li>{input typeOfCard}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input match}</li>
                    <li><input n:name=addCard  type="submit" class="addButton" value="Přidat faul"></li>
                </ul>
            </li>
        </ul>
    {/form}
    </div>
    <h2>Seznam herních událostí</h2>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <div class="filterForm">
            <ul>
                <li>{label typeOfGameEvent:g/}</li>
                <li>{input typeOfGameEvent:g}</li>
            </ul>
            <ul>
                <li>{label typeOfGameEvent:c/}</li>
                <li>{input typeOfGameEvent:c}</li>
            </ul>
            <ul>
                <li>{label minuteFrom /}</li>
                <li>
                    <ul class="timeFormField">
                        <li>{input minuteFrom}</li>
                        <li>:</li>
                        <li>{input secondFrom}</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>{label minuteTo /}</li>
                <li>
                    <ul class="timeFormField">
                        <li>{input minuteTo}</li>
                        <li>:</li>
                        <li>{input secondTo}</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>{label player/}</li>
                <li>{input player}</li>
            </ul>
            <ul>
                <li>{input match}</li>
                <li>{input filterGameEvents}</li>
            </ul>
        </div>
    {/form}
    <ul class="gameEventList">
    {foreach $goals as $goal}
        <li>
            <ul class="goalListing">
                <li>Gól</li>
                <li>{$goal[$timeGoal]}</li>
                <li>{$goal[$playerGoal]|nameOfPlayer}</li>
                <li>{$goal[$playerGoal]|teamOfPlayer|abbreviationOfTeam}</li>
                <li><a n:href="Match:deletegoal $tourneyID, $matchID, $goal[$goalID]">
                        <button class="deleteButton">Odstranit</button></a>
                </li>
                <li><a n:href="Match:editgoal $tourneyID, $matchID, $goal[$goalID]">
                    <button class="updateButton">Upravit</button></a>
                </li>
            </ul>
        </li>
    {/foreach}
        <li>
            <div class="pagination">
                {if !$paginator->isFirst()}
                    <a n:href="Match:gameevents $tourneyID, $matchID, 1">První</a>
                    &nbsp;|&nbsp;
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->page-1">Předchozí</a>
                    &nbsp;|&nbsp;
                {/if}

                Stránka {$paginator->page} z {$paginator->pageCount}

                {if !$paginator->isLast()}
                    &nbsp;|&nbsp;
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->page+1">Další</a>
                    &nbsp;|&nbsp;
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->pageCount">Poslední</a>
                {/if}
            </div>
        </li>
    {foreach $cards as $card}
        <li>
            <ul class="cardListing">
                <li>Faul</li>
                <li>{$card[$timeCard]}</li>
                <li>{$card[$playerCard]|nameOfPlayer}</li>
                <li>{$card[$playerCard]|teamOfPlayer|abbreviationOfTeam}</li>
                <li>{$card[$kindOfCard]|titleOfCard}</li>
                <li><a n:href="Match:deletecard $tourneyID, $matchID, $card[$cardID]">
                        <button class="deleteButton">Odstranit</button>
                    </a>
                </li>
                <li><a n:href="Match:editcard $tourneyID, $matchID, $card[$cardID]">
                        <button class="updateButton">Upravit</button></a>
                </li>
            </ul>
        </li>
    {/foreach}
        <li>
            <div class="pagination">
                {if !$paginator2->isFirst()}
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->page, 1">První</a>
                    &nbsp;|&nbsp;
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->page, $paginator2->page-1">Předchozí</a>
                    &nbsp;|&nbsp;
                {/if}

                Stránka {$paginator2->page} z {$paginator2->pageCount}

                {if !$paginator2->isLast()}
                    &nbsp;|&nbsp;
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->page, $paginator2->page+1">Další</a>
                    &nbsp;|&nbsp;
                    <a n:href="Match:gameevents $tourneyID, $matchID, $paginator->page, $paginator2->pageCount">Poslední</a>
                {/if}
            </div>
        </li>
    </ul>
{/block}