
{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li>Kategorie</li>
{/block}
{block categoryItem}<li class="mainMenuLeaf">Kategorie</li>{/block}
{block content}
	<h1 n:block=title>Kategorie</h1>
    <h2>Vložení nové kategorie</h2>
    <p>Pro úspěšné vložení nové kategorie je potřeba vyplnit údaje ve formuláři níže. Pro úspěšné vložení
    nové kategorie je třeba vyplnit její název a zaškrtnout alespoň jedno pohlaví hráčů. Dále můžete vyplnit
    horní věkovou hranici hráčů, kteří mohou být v sestavě týmu v dané kategorii. Povinné údaje jsou označeny hvězdičkou. Pohlaví je označeno hvězdičkou, protože je potřeba vybrat alespoň jedno pohlaví hráčů.</p>
    {form addForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li class="mandatoryLabel">{label title /}</li>
                    <li>{input title}</li>
                </ul>

            </li>
            <li>
                <ul>
                    <li  class="mandatoryLabel">{label sex}</li>
                    <li>
                        <ul class="sexSelector">
                            <li>
                                <ul>
                                    <li>{input sex:male}</li>
                                    <li>{label sex:male /}</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>{input sex:female}</li>
                                    <li>{label sex:female /}</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>{input sex:unknown}</li>
                                    <li>{label sex:unknown /}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nonMandatoryItem">{label ageTo /}</li>
                    <li>{input ageTo}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><input n:name=addCategory  type="submit" class="addButton" value="Přidat kategorii"></li>
                </ul>
            </li>
        </ul>
    {/form}
    <h2>Seznam kategorií</h2>
    <p>Níže jsou vypsány všechny kategorie včetně informací o nich. U každého názvu kategorie a informací o dané
    kategorii se nachází i tlačítko pro odstranění dané kategorie a formulář pro úpravu kategorie. Ve formuláři pro
    úpravu dané kategorie musí být vyplněn název kategorie a zaškrtnuto alespoň jedno pohlaví.</p>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
    <div class="filterForm">
        <ul class="withoutCheckbox">
            <li>{label title}</li>
            <li>{input title}</li>
        </ul>
        <ul class="withoutCheckbox">
            <li>{label ageTo}</li>
            <li>{input ageTo}</li>
        </ul>
        <ul>
            <li>{label sex:male}</li>
            <li>{input sex:male}</li>
        </ul>
        <ul>
            <li>{label sex:female}</li>
            <li>{input sex:female}</li>
        </ul>
        <ul>
            <li>{label sex:unknown}</li>
            <li>{input sex:unknown}</li>
        </ul>
        <ul>
            <li></li>
            <li>{input filterCategories}</li>
        </ul>
    </div>
    {/form}
    <dl class="listings">
    {foreach $categories as $category}
        <dt><strong>{$category[$title]}</strong>
            {ifset $category[$ageTo]}(do {$category[$ageTo]} let){/ifset}
        </dt>

        <dd>
            <ul>
                {if $category[$sex] == 1}
                    <li>Neznámé pohlaví</li>
                {/if}
                {if $category[$sex] == 2}
                    <li>Ženy</li>
                {/if}
                {if $category[$sex] == 3}
                    <li>Ženy a neznámé pohlaví</li>
                {/if}
                {if $category[$sex] == 4}
                    <li>Muži</li>
                {/if}
                {if $category[$sex] == 5}
                    <li>Muži a neznámé pohlaví</li>
                {/if}
                {if $category[$sex] == 6}
                    <li>Muži a ženy</li>
                {/if}
                {if $category[$sex] == 7}
                    <li>Všechna pohlaví</li>
                {/if}
                <li><a n:href="Category:edit $category[$id]"><button class="updateButton">Upravit</button></a></li>
                <li><a n:href="Category:delete $category[$id]"><button class="deleteButton">Odstranit</button></a></li>
            </ul>
        </dd>
    {/foreach}
    </dl>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="default, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}
