{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/category">Kategorie</a></li>
    <li>Editace kategorie</li>
{/block}
{block categoryItem}<li class="mainMenuLeaf">Kategorie</li>{/block}
{block content}
	<h1 n:block=title>Editace kategorie</h1>
    {form editForm}
    <ul class="addCategoryForm">
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <li>
            <ul>
                <li>{label title /}</li>
                <li>{input title} <span class=error n:ifcontent>{$input->error}</span></li>
            </ul>

        </li>
        <li>
            <ul>
                <li>{label sex}</li>
                <li>
                    <ul class="sexSelector">
                        <li>
                            <ul>
                                <li>{input sex:male}</li>
                                <li>{label sex:male /}</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>{input sex:female}</li>
                                <li>{label sex:female /}</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>{input sex:unknown}</li>
                                <li>{label sex:unknown /}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>{label ageTo /}</li>
                <li>{input ageTo}</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>{input id}</li>
                <li><input n:name=editCategory  type="submit" class="btn" value="Upravit kategorii"></li>
            </ul>
        </li>
    </ul>
    {/form}
{/block}
