{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/playground">Hřiště</a></li>
    <li>Hrací dny na hřišti {$playground}</li>
{/block}
{block playgroundItem}<li class="mainMenuLeaf">Hřiště</li>{/block}
{block content}
	<h1 n:block=title>Hrací dny na hřišti {$playground}</h1>
    <h2>Vložení nového hracího dne</h2>
    {form addForm}

        <!-- Jednoduché vykreslení chyb -->
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addForm">
            <li>
                <ul>
                    <li class="mandatoryLabel">{label day /}</li>
                    <li>{input day}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label fromHour /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input fromHour}</li>
                            <li>:</li>
                            <li>{input fromMinute}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label toHour /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input toHour}</li>
                            <li>:</li>
                            <li>{input toMinute}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input playground}</li>
                    <li><input n:name=addPlayingDay  type="submit" class="addButton" value="Přidat hrací den"></li>
                </ul>
            </li>
        </ul>
    {/form}
    <h2>Seznam hracích dnů</h2>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <div class="filterForm">
            <ul class="withoutCheckbox">
                <li>{label from}</li>
                <li>{input from}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label to}</li>
                <li>{input to}</li>
            </ul>
            <ul>
                <li></li>
                <li>{input filterPlayingDays}</li>
            </ul>
        </div>
    {/form}
    <dl class="playerListings">
    {foreach $playingDays as $playingDay}
        <dt><strong>{$playingDay[$day]|date:'%d.%m.%Y'} {$playingDay[$from]} - {$playingDay[$to]}</strong>
            </dt>
        <dd>
            <ul>
                <li>
                    <a n:href="Playingdays:edit $playground, $playingDay[$id]">
                        <button class="updateButton">Upravit</button></a>
                </li>
                <li>
                    <a n:href="Playingdays:delete $playground, $playingDay[$id]">
                        <button class="deleteButton">Odstranit</button></a>
                </li>
            </ul>
        </dd>
    {/foreach}
    </dl>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="default $playground, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="default $playground, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="default $playground, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="default $playground, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}