{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/playground">Hřiště</a></li>
    <li><a n:href="Playingdays:default $playgroundID">Hrací dny na hřišti {$playgroundID}</a></li>
    <li>Editace hracího dne</li>
{/block}
{block playgroundItem}<li class="mainMenuLeaf">Hřiště</li>{/block}
{block content}
	<h1 n:block=title>Editace hracího dne</h1>
    {form editForm}

        <!-- Jednoduché vykreslení chyb -->
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addForm">
            <li>
                <ul>
                    <li>{label day /}</li>
                    <li>{input day}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label fromHour /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input fromHour}</li>
                            <li>:</li>
                            <li>{input fromMinute}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label toHour /}</li>
                    <li>
                        <ul class="timeFormField">
                            <li>{input toHour}</li>
                            <li>:</li>
                            <li>{input toMinute}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input playground}{input id}</li>
                    <li><input n:name=editPlayingDay  type="submit" class="btn" value="Upravit hrací den"></li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}