{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li>Hřiště</li>
{/block}
{block playgroundItem}<li class="mainMenuLeaf">Hřiště</li>{/block}
{block content}
	<h1 n:block=title>Hřiště</h1>
    <h2>Vložení nového hřiště</h2>
    {form addForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li class="nonMandatoryItem">{label color /}</li>
                    <li>{input color}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li  class="nonMandatoryItem">{label dateOfFoundation /}</li>
                    <li>{input dateOfFoundation}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li  class="nonMandatoryItem">{label position /}</li>
                    <li>{input position}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li  class="nonMandatoryItem">{label description /}</li>
                    <li>{input description}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><input n:name=addPlayground  type="submit" class="addButton" value="Přidat hřiště"></li>
                </ul>
            </li>
        </ul>
    {/form}
    <h2>Seznam hřišť</h2>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
    <div class="filterForm">
        <ul class="withoutCheckbox">
            <li>{label from}</li>
            <li>{input from}</li>
        </ul>
        <ul  class="withoutCheckbox">
            <li>{label to}</li>
            <li>{input to}</li>
        </ul>
        <ul  class="withoutCheckbox">
            <li>{label color}</li>
            <li>{input color}</li>
        </ul>
        <ul>
            <li></li>
            <li>{input filterPlaygrounds}</li>
        </ul>
    </div>
    {/form}
    <dl class="playgroundListings">
    {foreach $playgrounds as $playground}
        <dt>{$playground[$id]}</dt>
        <dd>
            <ul>
                <li><a n:href="Playingdays:default $playground[$id]"><button>Hrací dny na hřišti</button></a></li>
                <li><a n:href="Playground:edit $playground[$id]"><button class="updateButton">Upravit</button></a></li>
                <li><a n:href="Playground:delete $playground[$id]"><button class="deleteButton">Odstranit</button></a></li>
            </ul>
        </dd>
    {/foreach}
    </dl>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="default, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}