{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/playground">Hřiště</a></li>
    <li>Editace hřiště</li>
{/block}
{block playgroundItem}<li class="mainMenuLeaf">Hřiště</li>{/block}
{block content}
	<h1 n:block=title>Editace hřiště</h1>
    {form editForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addCategoryForm">
            <li>
                <ul>
                    <li>{label color /}</li>
                    <li>{input color}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label dateOfFoundation /}</li>
                    <li>{input dateOfFoundation}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label position /}</li>
                    <li>{input position}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label description /}</li>
                    <li>{input description}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input id}</li>
                    <li><input n:name=editPlayground  type="submit" class="btn" value="Upravit hřiště"></li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}