{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li>Týmy</li>
{/block}
{block teamItem}<li class="mainMenuLeaf">Týmy</li>{/block}
{block content}
	<h1 n:block=title>Týmy</h1>
    <h2>Vložení nového týmu</h2>
    <p>Pro úspěšné vložení týmu je potřeba vyplnit jeho název a zkratku a vybrat kategorii, do jaké bude patřit.
        Dále lze vyplnit primární a sekundární barvu, ale není to nutné pro vložení týmu. Údaje o týmu můžete vyplnit ve formuláři uvedeným níže. Povinné údaje jsou označeny hvězdičkou.</p>
    {form addForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addForm">
            <li>
                <ul>
                    <li class="mandatoryLabel">{label title /}</li>
                    <li>{input title}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label abbreviation /}</li>
                    <li>{input abbreviation}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label category /}</li>
                    <li>{input category}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nonMandatoryItem">{label primaryColour /}</li>
                    <li>{input primaryColour}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nonMandatoryItem">{label secondaryColour /}</li>
                    <li>{input secondaryColour}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <input n:name=addTeam  type="submit" class="addButton" value="Přidat tým">
                    </li>
                </ul>
            </li>
        </ul>
    {/form}
    <h2>Seznam týmů</h2>
    <p>Níže jsou vypsány všechny týmy včetně informací o nich. U názvu každého týmu se nachází tlačítko pro odstranění
    daného týmu a formulář pro editaci daného týmu.</p>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <div class="filterForm">
            <ul class="withoutCheckbox">
                <li>{label title}</li>
                <li>{input title}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label abbreviation}</li>
                <li>{input abbreviation}</li>
            </ul>
            <ul>
                <li>{label category}</li>
                <li>{input category}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label primaryColour}</li>
                <li>{input primaryColour}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label secondaryColour}</li>
                <li>{input secondaryColour}</li>
            </ul>
            <ul>
                <li></li>
                <li>{input filterTeams}</li>
            </ul>
        </div>
    {/form}
    <dl class="listings">
    {foreach $teams as $team}
        <dt><strong>{$team[$title]}</strong> ({$team[$abbreviation]})</dt>
        <dd>
            <ul>
                <li>{$categories[$team[$categoryID]][$titleOfCategory]}</li>
                <li><a n:href="Team:edit $team[$id]"><button class="updateButton">Upravit</button></a></li>
                <li><a n:href="Team:delete $team[$id]"><button class="deleteButton">Odstranit</button></a></li>
            </ul>
        </dd>
    {/foreach}
    </dl>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="default, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}
