{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/team">Týmy</a></li>
    <li>Editace týmu</li>
{/block}
{block teamItem}<li class="mainMenuLeaf">Týmy</li>{/block}
{block content}
	<h1 n:block=title>Editace týmu</h1>
    {form editForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addForm">
            <li>
                <ul>
                    <li>{label title /}</li>
                    <li>{input title}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label abbreviation /}</li>
                    <li>{input abbreviation}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label category /}</li>
                    <li>{input category}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label primaryColour /}</li>
                    <li>{input primaryColour}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label secondaryColour /}</li>
                    <li>{input secondaryColour}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input id}</li>
                    <li>
                        <input n:name=editTeam  type="submit" class="btn" value="Upravit tým">
                    </li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}
