{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li>Turnaje</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Turnaje</h1>
    <ul>
    {foreach $tourneys as $tourney}
        {if $refereeManager->areSetRulesForTourney($tourney[$id]) == false}
            <li>! Je třeba nastavit pravidla pro rozhodování pro turnaj: {$tourney[$title]}
            <a n:href="Tourney:setcustomrules $tourney[$id]">Nastavit pravidla pro rozhodování pro {$tourney[$title]}</a></li>
        {/if}
    {/foreach}
    </ul>
    <h2>Vložení nového turnaje</h2>
    {form addForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addTourneyForm">
            <li class="nonRulesItem">
                <ul>
                    <li class="mandatoryLabel">{label title /}</li>
                    <li>{input title}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li class="mandatoryLabel">{label city /}</li>
                    <li>{input city}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li class="mandatoryLabel">{label from /}</li>
                    <li>{input from}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li class="mandatoryLabel">{label to /}</li>
                    <li>{input to}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="mandatoryLabel">{label rules/}</li>
                    <li>{input rules}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li class="mandatoryLabel">{label matchLength /}</li>
                    <li>{input matchLength}</li>
                </ul>
            </li>
            <li class="descriptionItem">
                <ul>
                    <li class="nonMandatoryItem">{label description /}</li>
                    <li>{input description}</li>
                </ul>
            </li>
            <li class="descriptionItem">
                <ul>
                    <li class="nonMandatoryItem">{label program /}</li>
                    <li>{input program}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li><input n:name=addTourney  type="submit" class="addButton" value="Přidat turnaj"></li>
                </ul>
            </li>
        </ul>
    {/form}
    <h2>Seznam turnajů</h2>
    {form filterForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <div class="filterForm">
            <ul class="withoutCheckbox">
                <li>{label title}</li>
                <li>{input title}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label city}</li>
                <li>{input city}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label from}</li>
                <li>{input from}</li>
            </ul>
            <ul class="withoutCheckbox">
                <li>{label to}</li>
                <li>{input to}</li>
            </ul>
            <ul>
                <li></li>
                <li>{input filterTourneys}</li>
            </ul>
        </div>
    {/form}
    <dl class="tourneyListings">
    {foreach $pagedTourneys as $tourney}
        <dt>{$tourney[$title]}</dt>
        <dd>
            <ul>
                <li>{$tourney[$city]}, {$tourney[$from]|date:"%d.%m.%Y"} - {$tourney[$to]|date:"%d.%m.%Y"}</li>
                {if $matchManager->isMatchScheduleGenerated($tourney[$id])}
                    <li class="generateMatchScheduleItem">
                        <a n:href="Tourney:matchschedule $tourney[$id]">
                            <button>Rozpis zápasů</button>
                        </a>
                    </li>
                {else}
                    <li class="generateMatchScheduleItem">
                        <a n:href="Tourney:generatematchschedule $tourney[$id]">
                            <button>Vygenerovat rozpis zápasů</button>
                        </a>
                    </li>
                {/if}
                <li>
                    <a n:href="Tourney:management $tourney[$id]">
                        <button>Spravovat turnaj</button>
                    </a>
                </li>
                <li><a n:href="Tourney:edit $tourney[$id]"><button class="updateButton">Upravit základní informace</button></a></li>
                <li><a n:href="Tourney:delete $tourney[$id]"><button class="deleteButton">Odstranit</button></a></li>
            </ul>
        </dd>
    {/foreach}
    </dl>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="default, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="default, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}