{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li>Editace turnaje</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Editace turnaje</h1>
    {form editForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addTourneyForm">
            <li class="nonRulesItem">
                <ul>
                    <li>{label title /}</li>
                    <li>{input title}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li>{label city /}</li>
                    <li>{input city}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li>{label from /}</li>
                    <li>{input from}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li>{label to /}</li>
                    <li>{input to}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{label rules/}</li>
                    <li>{input rules}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li>{label matchLength /}</li>
                    <li>{input matchLength}</li>
                </ul>
            </li>
            <li class="descriptionItem">
                <ul>
                    <li>{label description /}</li>
                    <li>{input description}</li>
                </ul>
            </li>
            <li class="descriptionItem">
                <ul>
                    <li>{label program /}</li>
                    <li>{input program}</li>
                </ul>
            </li>
            <li class="nonRulesItem">
                <ul>
                    <li>{input id}</li>
                    <li><input n:name=editTourney  type="submit" class="btn" value="Upravit základní informace"></li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}