{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li>Vygenerování rozpisu zápasů pro {$tourney[$title]}</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Vygenerování rozpisu zápasů pro {$tourney[$title]}</h1>
    {form generateMatchScheduleForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="generateMatchScheduleForm">
            {foreach $categories as $category}
                <li>
                    <ul>
                        <li class="mandatoryLabel">{label $category/}</li>
                        <li>{input $category}</li>
                    </ul>
                </li>
            {/foreach}
            <li>
                <ul>
                    <li class="mandatoryLabel">{label systemOfDivisionToGroups/}</li>
                    <li>{input systemOfDivisionToGroups}</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>{input tourney}</li>
                    <li>{input generateMatchSchedule}</li>
                </ul>
            </li>
        </ul>
    {/form}
{/block}