{* This is the welcome page, you can delete it *}

{block scripts}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$baseUrl}/js/main.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('#frm-addPlayerToTheTeamForm-player').autocomplete({
            source: [
                {var $count = count($suitablePlayers),$i = 0}
                {foreach $suitablePlayers as $key=>$player}
                    {var $i = $i+1}
                    {if $i === count}
                        {$player." ({$key})"}
                    {else}
                        {$player." ({$key})"},
                    {/if}
                {/foreach}
            ]
        });
        {foreach $team[1] as $player}
            $('#frm-changePlayerForm-{$player[$playerID]}-player').autocomplete({
                source: [
                    {var $count = count($suitablePlayers),$i = 0}
                    {var $players = $suitablePlayers,
                    $players[$player[$playerID]] = $player[$nameOfPlayer]." ".$player[$surnameOfPlayer]}
                    {foreach $players as $key=>$player}
                    {var $i = $i+1}
                    {if $i === count}
                    {$player." ({$key})"}
                    {else}
                    {$player." ({$key})"},
                    {/if}
                    {/foreach}
                ]
            });
        {/foreach}
    </script>
{/block}
{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li><a n:href="Tourney:management $tourney[$id]">Správa turnaje {$tourney[$title]}</a></li>
    <li>Sestava týmu {$team[2]}</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Sestava týmu {$team[2]}</h1>
    {control addPlayerToTheTeamForm}
    <p>Změnit kapitána lze ve formuláři níže. Stačí vybrat hráče ze seznamu, který bude kapitánem týmu.</p>
    {control changeCaptainForm}
    <ul class="playerInTeamListings">
    {foreach $team[1] as $player}
        <li>
            <ul class="playerInTeamList">
                {form changePlayerForm-$player[$playerID]}
                    <li>{input player}{input tourney}{input actualPlayer}</li>
                    <li>
                        <input n:name=changePlayer  type="submit" class="updateButton" value="Výměna hráče">
                    </li>
                    <li>
                        <input n:name=removePlayer  type="submit" class="deleteButton" value="Odebrat">
                    </li>
                {/form}
            </ul>
        </li>
    {/foreach}
    </ul>
{/block}