{* This is the welcome page, you can delete it *}

{block scripts}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$baseUrl}/js/main.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('#frm-addTeamForm-team').autocomplete({
            source: [
                {var $count = count($suitableTeams),$i = 0}
                {foreach $suitableTeams as $key=>$team}
                {var $i = $i+1}
                {if $i === count}
                {$team." ({$key})"}
                {else}
                {$team." ({$key})"},
                {/if}
                {/foreach}
            ]
        });
    </script>
{/block}
{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li>Správa turnaje {$tourney[$title]}</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Správa turnaje {$tourney[$title]}</h1>
    <div class="capitol">
    <h2>Hřiště</h2>
    {control playgroundsForm}
    </div>
    <div class="capitol">
    <h2>Kategorie, týmy a jejich sestavy</h2>
    {form addTeamForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <ul class="addTeamForm">
            <li>{label team}</li>
            <li>{input team}</li>
            <li>{label seed}</li>
            <li>{input seed}</li>
            <li>{input id}{input addTeam}</li>
        </ul>
    {/form}
    <dl>
    {foreach $categoriesTeamsAndPlayers as $categoryID => $category}
        <dt>
            <ul class="categoryHeadList">
                <li class="categoryHeadListFirst">{$categories[$categoryID][$titleOfCategory]}</li>
                <li class="categoryHeadListSecond">
                    <a n:href="Tourney:deletecategory $id, $categories[$categoryID]">
                        <button class="deleteButton">Odebrat kategorii</button>
                    </a>
                </li>
            </ul>
        </dt>
        <dd>
            <ul>
                {foreach $category as $team}
                    <li>
                        <ul class="teamHeadList">
                            <li class="teamHeadListFirst"><span class="teamTitle">{$team[0]}</span></li>
                            {form changeSeedForm-$team[1]}
                                <li class="teamHeadListSecond">{input seed}</li>
                                <li class="teamHeadListThird">{input tourney}{input team}
                                    <input n:name=updateSeed  type="submit" class="updateButton" value="Upravit seed">
                                </li>
                            {/form}
                            <li class="teamHeadListFourth">
                                <a n:href="Tourney:manageteam $id, $team[1]">
                                    <button>Spravovat sestavu týmu</button>
                                </a>
                            </li>
                            <li>
                                <a n:href="Tourney:deleteteam $id, $team[1]">
                                    <button class="deleteButton">Odebrat tým</button>
                                </a>
                            </li>
                        </ul>
                    </li>
                {/foreach}
            </ul>
        </dd>
    {/foreach}
    </dl>
    </div>
{/block}