{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li>Rozpis zápasů pro {$tourney[$title]}</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Rozpis zápasů pro {$tourney[$title]}</h1>
    {form filterMatchesForm}
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <div class="filterForm">
            <ul>
                <li>{label playground /}</li>
                <li>{input playground}</li>
            </ul>
            <ul>
                <li>{label dateFrom /}</li>
                <li>
                    <ul class="timeFormField">
                        <li class="dateField">{input dateFrom}</li>
                        <li>{input fromHour}</li>
                        <li>:</li>
                        <li>{input fromMinute}</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>{label dateTo /}</li>
                <li>
                    <ul class="timeFormField">
                        <li class="dateField">{input dateTo}</li>
                        <li>{input toHour}</li>
                        <li>:</li>
                        <li>{input toMinute}</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>{label playingTeam /}</li>
                <li>{input playingTeam}</li>
            </ul>
            <ul>
                <li>{label referee /}</li>
                <li>{input referee}</li>
            </ul>
            <ul>
                <li></li>
                <li>{input filterMatches}</li>
            </ul>
        </div>
    {/form}
    <ul class="matchListings">
    {foreach $matches as $match}
        <li>
            <ul class="matchListing">
                <li>{$match[$matchID]}</li>
                <li>hřiště: {$match[$playground]}</li>
                <li>{$match[$date]|date:"d.m.Y"}</li>
                <li>{$match[$timeFrom]}</li>
                <li>{$match[$firstTeam]} x {$match[$secondTeam]}</li>
                <li>{$match[$referee]}</li>
                <li><a n:href="Match:gameevents $tourneyID, $match[$matchID]"><button>Správa herních událostí</button></a></li>
            </ul>
        </li>
    {/foreach}
    </ul>
    <div class="pagination">
        {if !$paginator->isFirst()}
            <a n:href="Tourney:matchschedule $tourneyID, 1">První</a>
            &nbsp;|&nbsp;
            <a n:href="Tourney:matchschedule $tourneyID, $paginator->page-1">Předchozí</a>
            &nbsp;|&nbsp;
        {/if}

        Stránka {$paginator->page} z {$paginator->pageCount}

        {if !$paginator->isLast()}
            &nbsp;|&nbsp;
            <a n:href="Tourney:matchschedule $tourneyID, $paginator->page+1">Další</a>
            &nbsp;|&nbsp;
            <a n:href="Tourney:matchschedule $tourneyID, $paginator->pageCount">Poslední</a>
        {/if}
    </div>
{/block}