{* This is the welcome page, you can delete it *}

{block tinyNavigation}
    <li><a href="{$baseUrl}">Domovská stránka</a></li>
    <li><a href="{$baseUrl}/tourney">Turnaje</a></li>
    <li>Vlastní pravidla pro rozhodování</li>
{/block}
{block tourneyItem}<li class="mainMenuLeaf">Turnaje</li>{/block}
{block content}
    <h1 n:block=title>Vlastní pravidla pro rozhodování</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                {foreach $categories as $category}
                    <th class="setRulesTableTh">{$category[$titleOfCategory]}</th>
                {/foreach}
            </tr>
        </thead>
        {form setCustomRulesForm}
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
        <tbody>
            {foreach $categories as $firstCategory}
                <tr>
                    <th class="setRulesTableTh">{$firstCategory[$titleOfCategory]}</th>
                    {foreach $secondCategories as $secondCategory}
                        <td>{input $firstCategory[$categoryID]."x".$secondCategory[$categoryID]}</td>
                    {/foreach}
                </tr>
            {/foreach}
        </tbody>
         <tfoot>
            {foreach $categories as $secondCategory}
                <td></td>
            {/foreach}
            <td>{input tourney}
                <input n:name=setCustomRules  type="submit" class="updateButton" value="Nastavit pravidla">
            </td>
         </tfoot>
        {/form}
    </table>
{/block}