body {
    font-family: Arial, serif;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
    font-size: 3em;
	text-align: center;
}
h2 {
	color: #3484D2;
	font-size: 2.4em;
	text-align: left;
	clear: left;
}
#ajax-spinner {
	margin: 1em 0 0 1em;
	padding: 0.87em;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 0.05em solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}
form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}
td{

}
form .error {
	color: #D00;
	font-weight: bold;
}
#languages{
	float: left;
	display: inline-block;
	list-style-type: none;
	background-color: black;
}
#languages li{
	display: inline;
	float: left;
	color: white;
    width: 3em;
}
nav{
	display: block;
    width: 100%;
    text-decoration: none;
}
nav ul li{
    text-decoration: none;
}
dd ul{
	list-style-type: none;
}
#mainMenu{
	list-style-type: none;
    margin-left: 0.8em;
    float: left;
	background-color: #AFEF94;
}
#mainMenu li{
	display: inline-block;
	color: black;
    padding: 0;
	margin: 0;
}
.mainMenuLeaf{
	font-size: 1.6em;
	font-weight: bolder;
	background-color: #AFEF94;
	border-right: 1em solid #AFEF94;
	border-left: 1em solid #AFEF94;
	margin: 0em 1em 0em 1em;
	padding: 0;
}
#mainMenu li a{
	background-color: #AFEF94;
	padding: 0em 1em 0em 1em;
	border:0;
	margin:0;
	font-size: 1.6em;
}
#mainMenu li:hover a{
	background-color:black;
	color: #AEA8FF;
}
#mainMenu li:hover a:visited{
	color: #EFAAEF;
}
#tinyNavigation{
	list-style-type: none;
	display: block;
	float: left;
	margin:0;
	padding:0;
}
#tinyNavigation li{
	display: inline-block;
}
#tinyNavigation li:before{
	content:">>";
	padding: 0 0.6em 0 0.6em;
}
#tinyNavigation li:first-child:before{
	content:"";
	padding: 0;
}
#languagesAndMainMenu{
    display: inline-block;
    width: 100%;
}
#languagesAndMainMenu ul li a{
    text-decoration: none;
}
#languagesAndMainMenu ul li:hover{
    text-decoration: none;
}
.listings dt{
	display: inline-block;
	float: left;
	clear: left;
	width: 12em;
	border-top: 0.1em solid black;
	border-left: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.listings dd {
	display: inline-block;
	float: left;
	border-top: 0.1em solid black;
	border-right: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.listings dd ul li{
	display: inline-block;
	float: left;
}
.listings dd ul li:first-child{
	width: 12em;
}
.playerListings dt{
	display: inline-block;
	float: left;
	clear: left;
	width: 15em;
	border-top: 0.1em solid black;
	border-left: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.playerListings dd {
	display: inline-block;
	float: left;
	border-top: 0.1em solid black;
	border-right: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.playerListings dd ul li{
	display: inline-block;
	float: left;
}

.playgroundListings dt{
	display: inline-block;
	float: left;
	clear: left;
	width: 7em;
	border-top: 0.1em solid black;
	border-left: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.playgroundListings dd {
	display: inline-block;
	float: left;
	border-top: 0.1em solid black;
	border-right: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.playgroundListings dd ul li{
	display: inline-block;
	float: left;
}


.tourneyListings dt{
	display: inline-block;
	float: left;
	clear: left;
	width: 14em;
	border-top: 0.1em solid black;
	border-left: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.tourneyListings dd {
	display: inline-block;
	float: left;
	border-top: 0.1em solid black;
	border-right: 0.1em solid black;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
.tourneyListings dd ul li{
	display: inline-block;
	float: left;
}
.tourneyListings dd ul li:first-child{
	width: 23em;
}
.matchListings{
    list-style-type: none;
}
.matchListing{
    list-style-type: none;
}
.matchListing li{
    display: inline-block;
    min-width: 4em;
}
.teamHeadList{
	float: left;
	clear: left;
}
.teamHeadList li{
	display: inline-block;
	float: left;
}
.teamHeadListFirst{
    width: 15em;
    text-align: left;
}
.teamHeadListSecond{
    width: 6em;
}
.teamHeadListThird{
    width: 7em;
}
.teamHeadListFourth{
    width: 12.3em;
}
.teamHeadList form{
	display: inline-block;
	float:left;
}
.playerInTeamList{
	float:left;
	clear:left;
}
.playerInTeamList li{
	display: inline-block;
	max-width: 15em;
	float: left;
}
.playerInTeamList form{
	display: inline-block;
	float: left;
}

.categoryHeadListFirst{
    width: 24.6em;
    border-top: 2em dashed white;
}
.categoryHeadListSecond{
    vertical-align: text-bottom;
    border-top: 3.5em dashed white;
}
.categoryHeadList{
	list-style-type: none;
}
.categoryHeadList li:first-child{
	float: left;
	clear: left;
	display: inline-block;
    font-size: 1.75em;
}
.categoryHeadList li{
	float: left;
	display: inline-block;
}
.goalListing{
	float: left;
	clear: left;
}
.goalListing li{
	float: left;
	display: inline-block;
	width: 12em;
}
.cardListing{
	float: left;
	clear: left;
}
.cardListing li{
	float: left;
	display: inline-block;
	width: 12em;
}
.gameEventList{
	list-style-type: none;
}
.setRulesTableTh{
	padding-right: 1.2em;
	padding-bottom: 0.6em;
}

.addButton{
	background-color: #08CC08;
	color: white;
	border: 0.1em solid #08CC08;
	font-size: 1.25em;
	float: right;
}
.deleteButton{
    background-color: red;
    color: white;
	border: 0.1em solid red;
}
.updateButton{
	background-color: #006abb;
	color: white;
	border: 0.1em solid #006abb;
	float: right;
}
button{
	border: 0.1em solid black;
	color: black;
	background-color: white;
}
.btn{
	border: 0.1em solid black;
	color: white;
	background-color: #006abb;
	float: right;
}
.generateMatchScheduleItem{
	width: 14em;
}
.playerInTeamListings{
	list-style-type: none;
}
.teamTitle{
	font-weight: bolder;
	font-size: 1.3em;
	min-width: 20em;
}
.capitol{
	border-top: 0.25em solid black;
}

.filterForm ul{
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
	padding-right: 0.4em;
	margin: 0;
}
.withoutCheckbox{
	position: relative;
	top: -2.25em;
	padding-top: 2.25em;
}
.addTeamForm{
	list-style-type: none;
}
.addTeamForm li{
	display: inline-block;
	height: 1.7em;
}
.timeFormField{
	list-style-type: none;
	display: inline-block;
}
.timeFormField li{
	display: inline-block;
}
.dateField{
	position: relative;
	top: 1.2em;
	padding-bottom: 0.4em;
}
.addForm{
	list-style-type: none;
}
.addForm li ul{
	list-style-type: none;
	padding-left:0;
	max-width: 11em;
}

.addCategoryForm{
	list-style-type: none;
}
.addCategoryForm li ul{
	list-style-type: none;
	padding-left:0;
	max-width: 12.5em;
}
.sexSelector{
	list-style-type: none;
	padding-top: 1.1em;
}
.sexSelector li ul li{
	display: inline-block;
}
.sexSelector li ul li:last-child{
	width: 11em;
}
.sexSelector li ul li:last-child label{
	font-weight: normal;
}
.nonMandatoryItem label{
	font-weight: normal;
}

.addTourneyForm{
	list-style-type: none;
}

.addTourneyForm li ul{
	list-style-type: none;
	padding-left:0;
}
.nonRulesItem{
	max-width: 14em;
	clear: right;
}
.descriptionItem{
	min-height: 5em;
	max-width: 16em;
}
.secondCapitol{
	padding-bottom: 2em;
}
.mandatoryLabel{
	position: relative;
	right: 0.4em;
}
.mandatoryLabel:before{
	content: "*";
}

.generateMatchScheduleForm{
	list-style-type: none;
}

.generateMatchScheduleForm li ul{
	list-style-type: none;
	padding-left:0;
	max-width:18.5em;
}
.pagination{
	float: left;
	clear: left;
}
.results{
	margin-left: 2em;
}
.results tr td{
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}